Actv4/Clientes/cliente.dtd


<!ELEMENT cliente (descCliente, numero, vivienda+)>
<!ATTLIST cliente codigo CDATA #REQUIRED>

<!ELEMENT descCliente (#PCDATA)>
<!ELEMENT numero (#PCDATA)>

<!ELEMENT vivienda (coste, resumen, plazo)>
<!ATTLIST vivienda ID CDATA #REQUIRED>

<!ELEMENT coste (#PCDATA)>
<!ELEMENT resumen (#PCDATA)>
<!ELEMENT plazo (#PCDATA)>