Actv6/Mejora/mejora.dtd

<!ELEMENT bach (asignatura, modulo)>
<!ELEMENT asignatura (nombre, contenidos)>
<!ELEMENT modulo (nombre, contenidos)>
<!ELEMENT contenidos (unidad+)>
<!ELEMENT unidad (titulo, descripcion)>
<!ATTLIST unidad tipo CDATA #REQUIRED>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT descripcion (#PCDATA)>