Actv6/dam/dam.dtd

<!ELEMENT cfgs (modulo+)>
<!ELEMENT modulo (nombre, contenidos)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT contenidos (unidad+)>
<!ELEMENT unidad (numero, titulo, descripcion)>
<!ATTLIST unidad tipo CDATA #REQUIRED>
<!ELEMENT numero (#PCDATA)>
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT descripcion (#PCDATA)>